.forgotPassword {
  min-height: 100vh;
  background-color: #f3f4f5;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.forgotPasswordForm {
  background-color: white;
  width: 500px;
  border-radius: 5px 5px 0 0;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}

.forgotPassword a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
}

.backtologin {
  width: 500px;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 5px 5px;
  padding: 15px 0;
}

@media screen and (max-width: 600px) {
  .forgotPasswordForm {
    width: 100%;
  }

  .forgotPasswordInputs {
    padding: 4vw 8vw;
    margin: 2vmax;
    font: 100 1.2rem "Roboto", sans-serif;
    margin: 4vw;
  }
}