.home {
	box-sizing: border-box;
	display: grid;
	grid-template-columns: 1fr 400px;
	height: 91vh;
}

.homeLeft {
	/* background: #f2f2f2; */
	background-image: url("../../assets/bg.jpg");
	box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.6);
	background-position: center;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2vmax;
}

.homeLeft::-webkit-scrollbar {
	display: none;
}

.homeRight {
	padding: 2vmax;
	overflow-y: auto;
}

.homeUser {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: rgba(0, 0, 0, 0.507);
	transition: all 0.5s;
}
.homeUser img {
	height: 3vmax;
	width: 3vmax;
	border-radius: 50%;
	margin: 1vmax;
}
.homeUser p {
	transition: all 0.3s;
}
.homeUser:hover p {
	font-weight: 500;
	color: rgba(0, 0, 0, 0.807);
}

@media screen and (max-width: 600px) {
	.home {
		grid-template-columns: 2fr 1fr;
	}
}
