.resetPassword {
	min-height: 100vh;

	display: flex;
	align-items: center;
	justify-content: center;

	background-image: url("../../assets/bg.jpg");
	box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.6);
	background-position: center;
}

.resetPasswordForm {
	background-color: white;
	width: 500px;
	border-radius: 10px;
	box-sizing: border-box;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
}

.resetPasswordInputs {
	box-sizing: border-box;
	padding: 1vmax 2vmax;
	width: 80%;
	border-radius: 40px;
	border: 1px solid #ccc;
	margin: 2vmax;
	font: 100 1.2rem "Roboto", sans-serif;
	outline: none;
}

.resetPasswordForm > a {
	align-self: flex-end;
	text-decoration: none;
	color: rgba(0, 0, 0, 0.342);
	margin: 1vmax 2vmax;
}

@media screen and (max-width: 600px) {
	.resetPasswordForm {
		width: 100%;
	}

	.resetPasswordInputs {
		padding: 4vw 8vw;
		margin: 2vmax;
		font: 100 1.2rem "Roboto", sans-serif;
		margin: 4vw;
	}

	.resetPasswordForm > a {
		align-self: center;
		text-decoration: none;
		color: rgba(0, 0, 0, 0.342);
	}
}
